.timeline-panel {
  display: flex;
  flex: 1;
  height: 58.65%;
  transform: translateY(71%);
  background-color: #1A1A1A;
  overflow: hidden;
}

.timeline-labels {
  width: 160px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: #252525;
  border-right: 1px solid #3A3A3A;
  z-index: 10;
  transform: translateY(34px);
}

.timeline-label-item {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #ccc;
  border-bottom: 1px solid #3A3A3A;
  transition: background-color 0.175s ease, color 0.175s ease;
}

.timeline-scroll-container {
  flex-grow: 1;
  overflow-x: auto;
  position: relative;
}

.timeline-ruler {
  display: flex;
  flex-shrink: 0;
  height: 34px;
  background-color: #1A1A1A;
  border-bottom: 1px solid #3A3A3A;
  user-select: none;
  min-width: 100%;
  box-sizing: border-box;
  pointer-events: auto;
}

.time-tick {
  position: relative;
  height: 100%;
  flex-shrink: 0;
}

.time-label {
  position: absolute;
  left: 6px;
  top: 3px;
  font-size: 0.8rem;
  color: #8A8A8A;
  font-family: monospace;
}

.tick-mark {
  position: absolute;
  bottom: 0;
  width: 1px;
}

.main-tick {
  left: 0;
  height: 12px;
  background-color: #666;
}

.sub-tick {
  height: 4px;
  background-color: #444;
}

.sub-tick.half-tick {
  height: 8px;
  background-color: #555;
}

.timeline-track {
  height: 64px;
  background-color: #2B2B2B;
  position: relative;
  border-bottom: 1px solid #3A3A3A;
  min-width: 100%;
  box-sizing: border-box;
}

.timeline-track.odd {
  background-color: #272727;
}

.timeline-item-preview {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #696969;
  opacity: 0.4;
  pointer-events: none;
  will-change: transform;
}

.timeline-item-preview.invalid {
  background-color: #C71212;
  border-color: #C71212;
  opacity: 0.35;
}

.timeline-scrubber {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #C71212;
  z-index: 100;
  cursor: ew-resize;
  pointer-events: none;
}

.timeline-scrubber::after {
  content: '';
  position: absolute;
  left: -9px;
  width: 20px;
  height: 100%;
  pointer-events: none;
}

.timeline-scrubber::before {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ff0000;
  pointer-events: none;
}